* {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper {
    flex: 1;
}

/************************SITE WIDE UTILITIES************************/
.hidden {
    display: none;
}

table {
    max-width: 100%;
}

/*******************************FONTS*******************************/
.bigFont {
    font-size: 5em;
}

/*****************************MAIN PAGE*****************************/
#randomPlayer {
    margin-top: 1em;
    margin-left: 1em;
}

#randomPlayerLink {
    color: black;
    font-size: 1.5em;
}

.inline {
    width: 3em;
    text-align: center;
    margin: 1em 0;
}
/*******************************FOOTER******************************/
#footer {
    background-color: #fff;
    padding: 0.25em 0;
    margin-top: 10em;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 1.5em auto;
}

.teamLink {
    margin: 0.5em;
}

.teamLink:visited {
    color: green;
}

.logo {
    max-width: 100%;
}