* {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 1s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: grey;
}

#wrapper {
    flex: 1;
}

/************************SITE WIDE UTILITIES************************/
.hidden {
    display: none;
}

table {
    max-width: 100%;
}

th, td {
    border: 1px solid black;
}

ul {
    list-style: none;
}

.halfPage {
    width: 50%;
}

/*******************************FONTS*******************************/
.bigFont {
    font-size: 5em;
}

/*****************************MAIN PAGE*****************************/
#randomPlayer {
    margin: 1em;
}

.search {
    display: flex;
}

.playersToGraph {
    display: flex;
    justify-content: start;
}

#onePlayerOnly {
    display: flex;
    justify-content: start;
    width: 50%;
    margin-left: 1em;
}

.compBtnDiv {
    margin-left: 0.5em;
}

#playerLink {
    color: black;
    font-size: 1.5em;
}

.playerPage {
    color: navy;
    font-size: 1.2em;
}

.inline {
    width: 3em;
    text-align: center;
    margin: 1em 0;
}

#playerYearly, #playerCareer {
    width: 95%;
    margin: 0 auto;
}

table {
    border-spacing: 0 0.25em; /*margin between table lines*/
    white-space: nowrap; /*keep data on one line*/
}

th {
    padding: 0 0.5em;
}

td {
    background-color: pink;
    padding: 0.5em;
}

tr {
}

.tableDiv {
    margin-bottom: 2em;
    background-color: #fff;
    overflow: auto;
    white-space: no-wrap;
    text-align: center;
}

.tableData {
    font-size: 0.75em;
}

.dropdownBtn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdownBtn:hover, .dropdownBtn:focus {
    color: orange;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownOptions {
    position: absolute;
    background-color: indigo;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownOptions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownOptions a:hover {
    background-color: red;
}

.chart {
    width: 600px;
    height: 350px;
    margin: 1em auto;
}
/*******************************FOOTER******************************/
#footer {
    background-color: #fff;
    padding: 0.25em 0;
    margin-top: 10em;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 1.5em auto;
}

.teamLink {
    margin: 0.5em;
}

.teamLink:visited {
    color: green;
}

.logo {
    max-width: 100%;
}