body {
    background-color: pink;
}

.hidden {
    display: none;
}

.bigFont {
    font-size: 5em;
}

#randomPlayer {
    margin-top: 1em;
    margin-left: 1em;
}

#randomPlayerLink {
    color: black;
    font-size: 1.5em;
}

.inline {
    width: 10%;
    text-align: center;
    margin: 1em 0;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 4em auto;
}

.teamLink {
    width: 5em;
    height: 5em;
    margin: 0.5em;
}

.teamLink:visited {
    color: green;
}