{% extends 'stat_page/base.html' %}

{% block content %}

<h1>Stat Page!</h1>
<br>
<!--Need to add functionality back-->
<form action="{% url 'rando_player', 'players' %}">
    {% csrf token %}
    <button type="submit" id="randomPlayerReveal">Look up a random player!</button>
</form>
<div id="randomPlayer" class="hidden">
    <a target="_blank" href="https://www.basketball-reference.com/players/{{ randPlayer.bb_ref_link }}">{{ randPlayer.full_name }}</a>
</div>
<br>
<button id="updateDatabase">Update Database!</button>

{% endblock content %}