{% extends 'stat_page/base.html' %}

{% block content %}

<h1>Stat Page!</h1>
<br>
<form method="POST">
    {% csrf_token %}
    <button type="submit" id="randomPlayerReveal">Look up a random player!</button>
</form>
<br>
<br>
<br>
<br>
<br>
<br>

{% if rand_player %}
<div id="randomPlayer">
    <a target="_blank" href="https://www.basketball-reference.com/players/{{ rand_player.bb_ref_link }}">{{ rand_player.first_name }} {{ rand_player.last_name }}</a>
</div>
{% endif %}

<br>
<button id="updateDatabase">Update Database!</button>

{% endblock content %}